<div class="list-group list-group-flush mb-3">
  <li class="list-group-item">
    <div class="content">
      <div class="row">
        <div class="col-sm text-center">{{homeTeamName}}</div>
        <div class="col-sm text-center">{{homeTeamScore}}</div>
        <div class="col-sm text-center">{{awayTeamScore}}</div>
        <div class="col-sm text-center">{{awayTeamName}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center font-weight-light">{{date}} {{hour}}</div>
    </div>
  </li>
</div>