<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a href="#" class="navbar-brand">Rugby data</a>
    <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a routerLink="/cec-bank" class="nav-link">CEC Bank championship</a>
            <a routerLink="/six-nations" class="nav-link disabled">6 nations</a>
            <a routerLink="/super-rugby" class="nav-link disabled">Super rugby</a>
        </div>
    </div>
</div>

<div class="py-5"></div>

<div class="container">
    <router-outlet></router-outlet>

    <div class="py-3">
        <p class="text-justify">Hello, 
            this is just simple website where data is aggregated from different rugby
            championship websites, this data is not own by this one.

            Do not forget to select a championship from the top menu.
        </p>
    </div>

    <footer class="text-center">Rugby data © 2021</footer>
</div>